@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Staatliches", sans-serif;
  --font-secondary: "Hanken Grotesk", sans-serif;
  --color-blue-primary: #2A4484;
  --color-blue-secondary: #415CA3;
  --color-beige-primary: #F7F3EB;
  --color-beige-secondary: #B2968B;

  --animate-infinite-scroll: infinite-scroll 60s linear infinite;
  --animate-infinite-scroll-2: infinite-scroll2 60s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
    @keyframes infinite-scroll2 {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

html {
  font-size: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
  html {
    font-size: 84.375%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 90.625%;
  }
}
